:root {
	--focus-hover-color: #2196f3;
	--contact-list-color: #757575;
	--main-text-color: #757575;
	--second-text-color: #ffffff;
	--body-text-color: #212121;
	--second-background: #2f303a;
	--logo-part-color: #2196f3;
	--body-background-color: #ffffff;
	--our-team-background-color: #f5f4fa;
	--btn-text-color: #ffffff;
	--btn-background-color: #2196f3;
	--btn-background-color2: #188ce8;
	--btn-portfolio-background-color: #f5f4fa;
	--current-color: #2196f3;
	--border-style: 1px solid #eeeeee;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--body-text-color);
	background-color: var(--body-background-color);
	font-size: 14px;
}

.list {
	list-style: none;
}

.link-decoration {
	text-decoration: none;
	color: inherit;
}

.conteiner {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
img {
	display: block;
	width: 100%;
	height: auto;
}

/* -----------HEADER------------*/
.header {
	display: flex;
}

.header-logo {
	display: flex;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: #000000;
	padding-top: 24px;
	padding-bottom: 25px;
}
.span {
	color: var(--logo-part-color);
}

.header-list {
	display: flex;
	padding: 32px 200px 32px 93px;
	margin-left: 0;
	margin-right: 0;
}

.header-item {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 50px;
}

.header-navigation {
	display: flex;
	align-items: baseline;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.list .link-decoration:hover,
.list .link-decoration:focus {
	color: var(--focus-hover-color);
}
.list .link-decoration.current {
	color: var(--focus-hover-color);
}

.contacts-list {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--contact-list-color);
	margin-left: 0;
	margin-right: 0;
}
.contacts-group {
	display: flex;
	border-bottom: var(--border-style);
	margin-bottom: 5px;
}
.contact-list-item {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.contacts-list :hover,
.contacts-list:focus {
	color: var(--focus-hover-color);
}

/* -----------HERO------------*/
.hero {
	color: var(--second-text-color);
	background-color: var(--second-background);
}

.hero .title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero .title {
	display: inline-block;
	max-width: 706px;
	padding: 200px 227px 30px 227px;
	margin-left: 0;
	margin-right: 0;
}

.hero .button {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--btn-text-color);
	background-color: var(--btn-background-color);
	border-radius: 4px;
}

.btn-hero {
	padding-bottom: 205px;
}
.hero .button {
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-style: none;
	padding: 10px 32px;
	margin-right: auto;
	margin-left: auto;
}
.hero .button:hover,
.hero .button:focus {
	background-color: var(--btn-background-color2);
}
/* -----------MAIN------------*/
.benefits-list {
	display: flex;
}
.benefits-list .title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.our-benefits {
	padding-top: 89px;
	padding-bottom: 94px;
}
.benefits-list .text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.benefits-list-item {
	max-width: 270px;
}

.about-list {
	display: flex;
	margin-left: -30px;
}

.about-item {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
}
.what-we-do .title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	padding-bottom: 50px;
}

.what-we-do {
	display: inline-block;
	padding-bottom: 94px;
}

.team {
	display: inline-block;
	background-color: #f5f4fa;
	padding-bottom: 94px;
}

.team .title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	padding-top: 94px;
	padding-bottom: 50px;
}

.our-team {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
.our-team {
	display: block;
	padding-bottom: 10px;
}
.our-team-list {
	display: flex;
	margin-left: -30px;
}
.our-team-item {
	flex-basis: calc(100% / 4 - 30px);
	margin-left: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	background-color: var(--body-background-color);
}

.our-team-item .team-img {
	padding-bottom: 30px;
}
.about-position {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	padding-bottom: 30px;
}

/* -----------PORTFOLIO------------*/
.portfolio-content {
	padding-bottom: 94px;
}

.btn-portfolio-list {
	display: flex;
	padding: 43px 270px 34px 276px;
}
.btn-portfolio-item {
	display: flex;
	margin-left: 8px;
}

.filtr-portfolio .button-portfolio {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--body-text-color);
	background-color: var(--btn-portfolio-background-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
	color: var(--btn-text-color);
	background-color: var(--focus-hover-color);
}
.filtr-portfolio > .btn-active {
	color: var(--btn-text-color);
	background-color: var(--focus-hover-color);
}

.button-portfolio {
	border-style: none;
	cursor: pointer;
	border-radius: 4px;
	padding: 6px 22px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -24px;
	margin-bottom: -30px;
}
.item-portfolio {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 24px;
	margin-bottom: 30px;
}

.porfolio-border {
	padding: 20px 24px;
	border-bottom: var(--border-style);
	border-left: var(--border-style);
	border-right: var(--border-style);
}
.portfolio-list .title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	padding-bottom: 4px;
}
.portfolio-list .text {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

/* -----------FOOTER------------*/
.footer {
	display: block;
	background-color: var(--second-background);
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 60px;
	padding-left: 53px;
}

.logo-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
}

.span {
	color: var(--logo-part-color);
}
.footer-address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
	padding-bottom: 9px;
}
.footer-contacts-list {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	padding-bottom: 60px;
}
.footer-contact-item {
	padding-bottom: 9px;
}

.footer-contacts-list :hover,
.footer-contacts-list:focus {
	color: var(--focus-hover-color);
}
