:root {
	--focus-hover-color: #2196f3;
	--contact-list-color: #757575;
	--main-text-color: #757575;
	--second-text-color: #ffffff;
	--body-text-color: #212121;
	--second-background: #2f303a;
	--logo-part-color: #2196f3;
	--body-background-color: #ffffff;
	--our-team-background-color: #f5f4fa;
	--btn-text-color: #ffffff;
	--btn-background-color: #2196f3;
	--btn-background-color2: #188ce8;
	--btn-portfolio-background-color: #f5f4fa;
	--current-color: #2196f3;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--body-text-color);
	background-color: var(--body-background-color);
	font-size: 14px;
}

.list {
	list-style: none;
}

.link-decoration {
	text-decoration: none;
	color: inherit;
}

.conteiner {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	outline: 2px solid tomato;
}

.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

/* -----------HEADER------------*/

.header-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: #000000;
}
.span {
	color: var(--logo-part-color);
}

.header-navigation {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.list .link-decoration:hover,
.list .link-decoration:focus {
	color: var(--focus-hover-color);
}
.list .link-decoration.current {
	color: var(--focus-hover-color);
}

.contacts-list {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--contact-list-color);
}
.contacts-list :hover,
.contacts-list:focus {
	color: var(--focus-hover-color);
}

/* -----------HERO------------*/
.hero {
	color: var(--second-text-color);
	background-color: var(--second-background);
	margin-bottom: 89px;
}

.hero .title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero .title {
	display: block;
	max-width: 706px;
	padding: 200px 227px 30px 227px;
	margin-left: 0;
	margin-right: 0;
}

.hero .button {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--btn-text-color);
	background-color: var(--btn-background-color);
	border-radius: 4px;
}

.hero .button {
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-style: none;
	padding: 10px 32px;
	margin-bottom: 205px;
}
.hero .button:hover,
.hero .button:focus {
	background-color: var(--btn-background-color2);
}
/* -----------MAIN------------*/

.benefits-list .title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.our-benefits {
	display: inline-block;
	margin-bottom: 94px;
}
.benefits-list .text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

.what-we-do .title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 50px;
}

.what-we-do {
	display: inline-block;
	margin-bottom: 94px;
}

.team {
	display: inline-block;
}
.our-team-item {
	display: inline;
	background-color: var(--our-team-background-color);
}

.team .title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	padding-top: 94px;
	padding-bottom: 50px;
}

.our-team {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
}
.our-team {
	display: block;
	margin-bottom: 10px;
}
.our-team-item .team-img {
	margin-bottom: 30px;
}
.about-position {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	margin-bottom: 30px;
}

/* -----------PORTFOLIO------------*/

.filtr-portfolio .button-portfolio {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--body-text-color);
	background-color: var(--btn-portfolio-background-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
	color: var(--btn-text-color);
	background-color: var(--focus-hover-color);
}
.filtr-portfolio > .btn-active {
	color: var(--btn-text-color);
	background-color: var(--focus-hover-color);
}

.button-portfolio {
	border-style: none;
	cursor: pointer;
}

.portfolio-list .title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-list .text {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

/* -----------FOOTER------------*/
.footer {
	display: flex;
	background-color: var(--second-background);
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
}

.logo-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
}
.span {
	color: var(--logo-part-color);
}
.footer-address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
	margin-bottom: 9px;
}
.footer-contacts-list {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 9px;
}
.footer-contact-item {
	margin-bottom: 9px;
}

.footer-contacts-list :hover,
.footer-contacts-list:focus {
	color: var(--focus-hover-color);
}
